@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-07 08:28:43
 * @version $Id$
 */
.ui-main1{
	width:800px;
    height:600px;
    background: #CDD3F5;
    border:1px solid black;
    
}
.ui-main1-title{
	width:760px;
	height: 120px;
	margin: 20px;
	background: #99BD90;
	border:1px solid black;
	display:flex;
}
.ui-main1-title-box{
	width:80px;
	height: 80px;
	border:1px solid black;
	background: #CDD3F5;
	margin:20px;
}
.ui-main1-title-box-special{
	width:80px;
	height: 80px;
	border:1px solid black;
	background: #CDD3F5;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 180px;
	margin-right: 20px;
}
.ui-main1-body{
	width:760px;
	height: 420px;
	background: #99BD90;
	border:1px solid black;
	margin:20px;
	display: flex;
}
.ui-main1-body-left{
	width:200px;
	height:370px;
	margin:20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.ui-main1-body-left-box{
	width:200px;
	height: 300px;
	border:1px solid black;
	background: #CDD3F5;
	
}
.ui-main1-body-left-item{
	width:50px;
	height: 50px;
	margin-top: 18px;
    border:1px solid black;
    background: #CDD3F5;
}
.ui-main1-body-right{
	width:480px;
	height: 370px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.ui-main1-body-right-box{
	width:480px;
	height:40px;
	border:1px solid black;
	background: #CDD3F5;
}
.ui-main2{
	width:390px;
    height: 377px;
    border: 1px solid black;
}
.ui-main2-pic{
	width:390px;
	height: 260px;
	background: #FFFFEB;
}
.ui-main2-box{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width:370px;
	height: 96px;
	padding: 10px;
	border-top: 1px solid black;
	background: #FFE6F4;
}
.ui-main2-box-txt{
	width:360px;
	height: 20px;
	padding-left: 10px;
	border:1px solid black;
	background: white;
}
.ui-main2-box-msg{
	width:360px;
	height: 20px;
	color:#F70B42;
	padding-left: 10px;
	border:1px solid black;
	background: white;
}
.ui-main2-box-price{
	display: flex;
	width:360px;
	height: 30px;
	padding-left: 10px;
	border:1px solid black;
	background: white;
}
.ui-main2-box-price-up{
	width:100px;
	font-size: 21px;
	text-align: bottom;
    font-weight: bold;
	color:#F70B42;
}
.ui-main2-box-price-low{
	display: flex;
	width:240px;
    margin:10px 0 0 10px;
    justify-content: space-between;
}

.ui-main3{
	display: flex;
	width:950px;
	height: 590px;
	padding:10px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border:1px solid #C0C0C0;
	background: #F2F2F2;
}
.ui-main3-copy{
	width:300px;
    height: 287px;
    border: 1px solid black;
    background:white;
}
.ui-main3-pic{
	width:300px;
	height: 190px;
}
.ui-main3-box{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width:280px;
	height: 76px;
	padding: 10px;
	border-top: 1px solid black;
	background: #FFE6F4;
}
.ui-main3-box-txt{
	width:260px;
	height: 15px;
	font-size: 5px;
	padding-left: 5px;
}
.ui-main3-box-msg{
	width:260px;
	height: 15px;
	font-size: 5px;
	color:#F70B42;
	padding-left: 5px;
}
.ui-main3-box-price{
	display: flex;
	width:260px;
	height: 30px;
	padding-left: 5px;
}
.ui-main3-box-price-up{
	width:120px;
	font-size: 19px;
	text-align: bottom;
    font-weight: bold;
	color:#F70B42;
}
.ui-main3-box-price-low{
	display: flex;
	width:200px;
    margin:10px 0 0 10px;
    font-size: 5px;
    justify-content: space-between;
}
.ui-main3-box-price-low strong{
	color: #F70B42;
