@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-31 10:00:32
 * @version $Id$
 */
#title0{
	height: 80px;
	background: #FA8072;
	}
#title1{
	line-height: 80px;
	text-align: center;
	font-weight: bold;
	font-family: 微软雅黑;
	font-size:3em;
	color:white;
}
.content{
    display: flex;
    justify-content: center;
    margin:20px;

}
#block1{
	width:150px;
	height: 50px;
	background: #FFE4C4;
	margin:20px;
	/*margin-left: 600px;
	margin-right: 5px;
	margin-top: 25px;
	margin-bottom: 20px;*/
	float:left;
	}
#text{
	line-height: 60px;
	text-align: center;
	font-weight: bold;
	color:black;
}
#text a{
	text-decoration: none;
	color:#FF8888;
	font-size: 20px;
    
}

